@import "../../../../src/assets/colors.scss";
@import "../../../../src/assets/fonts.scss";

.container {
  margin: 0 1rem 0 1rem;

  .header {
    background: $primary_bg;
    color: #fff;

    .title {
      cursor: pointer;
    }
  }

  .leaders {
    width: 60%;
    min-width: 350px;
  }

  .personel {
    width: 40%;
    min-width: 350px;
  }
}
