<div class="container">
    <div class="header" fxLayout="row" fxLayoutAlign="start center" (click)="toggleDiv()">
        <div class="title padding" fxFlex="100">{{title}}</div>
    </div>


    <div *ngIf="toggle" class="content" fxLayout="column" fxLayoutAlign="start start">
        <div fxLayout="row" fxLayoutAlign=" center">
            <div class="crew margin" fxLayout="column" fxLayoutAlign="end start">
                <h3 class="label">Crew 1</h3>
                <mat-form-field appearance="none" class="text select">
                    <select matNativeControl required>
                        <option value="volvo">A05</option>
                        <option value="saab">A03</option>
                    </select>
                </mat-form-field>
            </div>

            <div class="crew margin" fxLayout="column" fxLayoutAlign="start start">
                <h3 class="label">Crew 2</h3>
                <mat-form-field appearance="none" class="text select">
                    <select matNativeControl required>
                        <option value="volvo">A04</option>
                        <option value="saab">A02</option>
                    </select>
                </mat-form-field>
            </div>
        </div>


        <div class="team" fxLayout="row" fxLayoutAlign="start" fxLayout.xs="column" fxLayout.sm="column">
            <!-- left column -->
            <div class="leaders" fxLayout="column" fxFlex.xs="100" fxFlex.sm="100">
                <div  fxLayout="row">
                    <div class="heading label margin-left">Leaders</div>
                    <div class="heading"> </div>
                </div>
                <div *ngFor="let leader of leaders" class="margin-left padding underlined" fxLayout="row">
                    <div class="label">{{leader.role}}</div>
                    <div class="text padding-left">{{leader.name}}</div>
                </div>
            </div>

            <!-- right column -->
            <div class="personel" fxLayout="column" fxFlex.xs="100" fxFlex.sm="100">
                <div class="label" fxLayout="row">
                    <div class="margin-left heading" fxFlex="50">Personel Category</div>
                    <div class="heading" fxFlex="15">Day</div>
                    <div class="heading" fxFlex="15">Night</div>
                    <div class="heading" fxFlex="15">Total</div>
                </div>
                <div *ngFor="let report of reports" class="margin-left padding label underlined" fxLayout="row"
                    fxLayoutAlign="space-between center" [ngClass]="{
                        'grey': report.grey === true}">
                    <div fxFlex="50">{{report.category}}</div>
                    <div fxFlex="10" class="text">{{report.day}}</div>
                    <div fxFlex="10" class="text">{{report.night}}</div>
                    <div fxFlex="10" class="text">{{report.total}}</div>
                </div>
            </div>
        </div>
    </div>

</div>