@import "../../../../src/assets/colors.scss";
@import "../../../../src/assets/fonts.scss";

.container {
  height: 55px;
  margin: 0 1rem 0 1rem;
  @media only screen and (max-width: 599px) {
    margin: 0;
  }

  .header {
    background: $primary_bg;
    color: #fff;

    .title {
      cursor: pointer;
    }
   
    i {
      font-size: 20px;
      margin: 3px;
    }

    a {
      display: inline-block;
      height: 45px;
      font-size: 14px;
      font-family: $nsd_light;
      color: #fff;
      margin-right: 5px;
      @media only screen and (max-width: 640px) {
        height: 35px;
      }
    }

    .actions {
      max-width: 200px;
      .green {
        color: $green;
        font-size: 30px;
      }
    }
  }
}
