<div class="container" fxLayout="row" fxLayoutAlign="space-between center" >
  <div class="square"  fxLayout="row" fxLayoutAlign="center center">
    <a href=""><i class="material-icons">
        dashboard
      </i></a>
  </div>
  <div class="actions" fxLayout="row" fxLayoutAlign="space-evenly center">
    <div>
      <a href=""><i class="material-icons">
          notification_important
        </i>
      </a>
    </div>
    <div>
      <a href="">
        <i class="material-icons">
          settings
        </i>
      </a>
    </div>
    <div class="img-container">
      <img src="" alt="">
    </div>
  </div>
</div>