.container {
  height: 60px;
  margin: 0 1rem 0 1rem;

  @media only screen and (max-width: 599px) {
    height: 180px;
  }

  div{
      height:inherit;
  }

  .label {
    margin: 0 4px 4px 0;
  }

  .last-report {
    min-width: 219px;
    .label {
      margin-bottom: 2px;
    }
  }

  .rep-number {
    margin-left: 1rem;
    min-width: 240px;
  }

  .change-date {
    min-width: 239px;
    margin-left: 1rem;
  }
}
