@import "../../../../src/assets/colors.scss";
@import "../../../../src/assets/fonts.scss";

.container {
  margin: 0 1rem 0 1rem;

  .header {
    background: $primary_bg;
    color: #fff;

    .title {
      cursor: pointer;
    }
  }

  .content {
    margin: 1rem;
    min-width: 1200px;
    @media only screen and (max-width: 1200px) {
     
      white-space: nowrap;
      position: relative;
      overflow-y: hidden;
      overflow-x: scroll;
      -webkit-overflow-scrolling: touch;
    }

    div {
      max-width: 80%;
    }
  }
}
