<div class="container">
    <div class="header" fxLayout="row" fxLayoutAlign="start center">
        <div class="title padding" fxFlex="100">{{title}}</div>
    </div>
</div>

<div class="content margin"  fxLayout="column" fxLayoutAlign="space-between center">

    <div class="underlined full-width" fxLayout="row" fxLayoutAlign="space-between center">
        <div>1</div>
        <div>2</div>
    </div>

    <div class="underlined full-width" fxLayout="row" fxLayoutAlign="space-between center">
        <div>1</div>
        <div>2</div>
    </div>

    <div class="underlined full-width" fxLayout="row" fxLayoutAlign="space-between center">
        <div>1</div>
        <div>2</div>
        <div>3</div>
        <div>4</div>
    </div>

    <div class="full-width" fxLayout="row" fxLayoutAlign="space-between center">
        <div>1</div>
        <div>2</div>
        <div>3</div>
        <div>4</div>
    </div>

    <div class="underlined full-width" fxLayout="row" fxLayoutAlign="space-between center">
        <div>1</div>
        <div>2</div>
        <div>3</div>
        <div>4</div>
    </div>

    <div class="underlined full-width" fxLayout="row" fxLayoutAlign="space-between center">
        <div>1</div>
        <div class="text">Mark as complete</div>
    </div>
</div>

