@import "../../../../src/assets/colors.scss";
@import "../../../../src/assets/fonts.scss";

.container {
  margin: 0 1rem 0 1rem;

  .header {
    background: $primary_bg;
    color: #fff;

    .title {
      cursor: pointer;
    }
  }

  .content {
    margin: 1rem;
   

    div {
      max-width: 80%;
    }
  }
}
