<div class="container">
    <div class="header" fxLayout="row" fxLayoutAlign="start center">
        <div class="title padding" fxFlex="100">{{title}}</div>
    </div>


    <div class="content" fxLayout="column" fxLayoutAlign="start start">
        <div class="full-width" fxLayout="column">

            <div fxFlex="100" class=" heading underlined" fxLayout="row" fxLayoutAlign="start center">
                <div fxFlex="50">
                    <h3 class="label">Jar</h3>
                </div>
                <div fxFlex="30">
                    <h3 class="label">Wash Pipe</h3>
                </div>
                <div class="no-border" fxFlex="20">
                    <h3 class="label">Drill Line</h3>
                </div>
            </div>

            <div fxFlex="100" class="info underlined " fxLayout="row">

                <div fxFlex="16" class="no-border ">
                    <h3 class="label">Serial Number</h3>
                    <span class="text">{{number}}</span>
                </div>

                <div fxFlex="30">
                    <h3 class="label margin-left">Accounted Hours</h3>
                    <div fxLayout="row" class="no-border">
                        <h3 class="label">On btm</h3>
                        <span class="text">{{btm}}</span>
                        <h3 class="label">On Pumping</h3>
                        <span class="text">{{pumping}}</span>
                    </div>
                </div>

                <div class="accounted-hours" fxFlex="30">
                    <h3 class="label margin-left">Accounted Hours</h3>
                    <div fxLayout="row" class="no-border ">
                        <h3 class="label">On btm</h3>
                        <span class="text">{{btm}}</span>
                        <h3 class="label">On Pumping</h3>
                        <span class="text">{{pumping}}</span>
                    </div>
                </div>

                <div fxFlex="20" class="label no-border">
                    <mat-radio-group aria-label="Select an option" color="primary" fxLayout="row"
                        fxLayoutAlign="start center">
                        <mat-radio-button value="1">Tons & Miles</mat-radio-button>
                        <mat-radio-button class="margin-left" value="2">KdaN-Km</mat-radio-button>
                    </mat-radio-group>
                    <span class="text">{{tons}}</span>
                </div>

            </div>
        </div>
    </div>