<div class="container" fxLayout="row" fxLayoutAlign="space-between center" fxLayout.xs="column">
    <div  class="left-actions" fxLayout="row" fxLayoutAlign="space-evenly center">
        <div>
            <a href="" fxLayout="row" fxLayoutAlign="space-between center">
                <i class="material-icons">
                    add
                </i>
                Create
            </a>
        </div>
        <div>
            <a href="" fxLayout="row" fxLayoutAlign="space-between center">
                <i class="material-icons">
                    create
                </i>
                Edit
            </a>
        </div>
        <div>
            <a href="" fxLayout="row" fxLayoutAlign="space-between center">
                <i class="material-icons">
                    brightness_high
                </i>
                Config
            </a>
        </div>
        <div>
            <a href="" fxLayout="row" fxLayoutAlign="space-between center">
                <i class="material-icons">
                    file_copy
                </i>
                Reports
            </a>
        </div>
    </div>
    <div class="right-actions margin-right" fxLayout="row" fxLayoutAlign="space-evenly center">
        <div>
            <a href="" fxLayout="row" fxLayoutAlign="space-evenly center">
                <i class="material-icons preview">
                    pageview
                </i>
                Preview
            </a>
        </div>
        <div>
            <a href="" fxLayout="row" fxLayoutAlign="space-between center">
                <i class="material-icons delete">
                    cancel
                </i>
                Delete report
            </a>
        </div>
        <div>
            <a href="" fxLayout="row" fxLayoutAlign="space-between center">
                <i class="material-icons save">
                    save
                </i>
                Save
            </a>
        </div>
    </div>
</div>