@import "../../../../src/assets/colors.scss";
@import "../../../../src/assets/fonts.scss";

.container {
  height: 45px;
  background: $grey_light;

  @media only screen and (max-width: 640px) {
    height: 85px;
  }

  div {
    height: inherit;
    @media only screen and (max-width: 640px) {
      height: 43px;
    }
  }

  i {
    font-size: 20px;
    margin: 3px;
  }

  a {
    display: inline-block;
    height: 45px;
    color: #333;
    font-size: 14px;
    font-family: $nsd_light;
    @media only screen and (max-width: 640px) {
      height: 35px;
    }
  }

  .left-actions {
    width: 300px;
    min-width: 300px;

    i {
      color: $primary_color;
    }

    @media only screen and (max-width: 599px) {
      border-bottom: 1px solid #fff;
    }
  }

  .right-actions {
    width: 260px;
    min-width: 260px;

    .preview {
      color: $primary_color !important;
    }
    .delete {
      color: $red;
    }
    .save {
      color: $green;
    }
  }
}
