<div class="container">
    <div class="header" fxLayout="row" fxLayoutAlign="start center">
        <div class="title padding" fxFlex="100">{{title}}</div>
    </div>
</div>

<div class="content margin" fxLayout="column" fxLayoutAlign="space-between center">

    <div class="full-width heading" fxLayout="row" fxLayoutAlign="space-evenly center">
        <div></div>
        <div>Liner size (Inch)</div>
        <div>%Efficiency</div>
        <div>Output (Ltr/Stroke)</div>
        <div>Pressure (bar)</div>
    </div>
    

    <form [formGroup]="mudPumpConfigForm" class="full-width" novalidate>
        <div fxLayout="row" fxLayoutAlign="space-evenly center">
            <div>Mud pump #1</div>
            <div class="rep-number">
                <mat-form-field appearance="none" class="text select">
                    <select matNativeControl required>
                        <option value="test1">6 1/2"</option>
                        <option value="test2">7 1/2"</option>
                    </select>
                </mat-form-field>
            </div>


            <div class="rep-number">
                <mat-form-field appearance="none" class="text select">
                    <select matNativeControl required>
                        <option value="test1">97,0</option>
                        <option value="test2">98,0</option>
                    </select>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field class="text" appearance="none">
                    <input matInput [formControl]="output">
                </mat-form-field>
            </div>

            <div>
                <mat-form-field class="text" appearance="none">
                    <input matInput [formControl]="pressure">
                </mat-form-field>
            </div>
        </div>


        <div fxLayout="row" fxLayoutAlign="space-evenly center">
            <div>Rental Pump</div>
            <div>
                <mat-form-field class="text" appearance="none">
                    <input matInput [formControl]="linerSize">
                </mat-form-field>
            </div>

            <div>
                <mat-form-field appearance="none" class="text select">
                    <select matNativeControl required>
                        <option value="test1">96,5</option>
                        <option value="test2">97,5</option>
                    </select>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field class="text" appearance="none">
                    <input matInput [formControl]="rentOutput">
                </mat-form-field>
            </div>

            <div>
                <mat-form-field class="text" appearance="none">
                    <input matInput [formControl]="rentPressure">
                </mat-form-field>
            </div>
        </div>
    </form>
</div>