$grey_light: #f0eeee;
$grey_medium: #959393;
$grey_dark: #212121;
$green: #47bd94;
$red: #f44336;
$primary_bg: #276699;
$primary_color: #276699;
$secondary_bg: #22669d;
$text-color: $grey-dark;
$underline: #e4e6e6;
