/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "../src/assets/fonts.scss";
@import "../src/assets/colors.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  border: none;
}

html {
  height: 100%;

  body {
    height: 100%;
    font-family: $nsd_regular;
    color: $text-color;
    position: relative;
  }
}

// custom font sizes colors

.title {
  font-weight: 100;
  font-size: 16px;
  &.white {
    font-size: 16px;
  }

  @media only screen and (max-width: 640px) {
    font-size: 15px;
  }
}

.label {
  font-size: 15px;
  font-weight: 100;
}

.text {
  font-size: 14px;
  font-family: $nsd_light;
  color: $grey_medium;
}

// custom margin-padding md size 16px

.margin {
  margin: 1rem;
}

.margin-top {
  margin-top: 1rem;
}

.margin-right {
  margin-right: 1rem;
}

.margin-bottom {
  margin-bottom: 1rem;
}

.margin-left {
  margin-left: 1rem;
}

.padding {
  padding: 1rem;
}

.padding-top {
  padding-top: 1rem;
}

.padding-right {
  padding-right: 1rem;
}

.padding-bottom {
  padding-bottom: 1rem;
}

.padding-left {
  padding-left: 1rem;
}

//overriding material design

.mat-form-field-wrapper {
  padding-bottom: 0.8rem !important;
}

mat-form-field {
  &.select {
    max-width: 120px;
  }

  &.datepicker {
    width: 100px;
    .mat-datepicker-toggle-default-icon {
      height: 15px !important;
    }
  }
}
