<div class="container">
  <app-navbar></app-navbar>
  <app-actions></app-actions>
  <app-header></app-header>
  <app-reports></app-reports>
  <!-- <div class="margin-top margin-bottom">
    <app-operational-status></app-operational-status>
  </div> -->
  <!-- <div class="margin-top margin-bottom">
    <app-well-control></app-well-control>
  </div> -->
  <!-- <div>
    <app-mud-pump-config></app-mud-pump-config>
  </div> -->
  <!-- <app-personnel></app-personnel> -->
  <!-- <app-well-control-dp></app-well-control-dp> -->
  <app-general-remarks></app-general-remarks>
</div>