<div class="container">
  <app-navbar></app-navbar>
  <app-actions></app-actions>
  <app-header></app-header>
  <app-reports></app-reports>

  <!-- <div class="margin-top margin-bottom COMPLETE">
    <app-operational-status></app-operational-status>
  </div> -->

  <!-- <div class="margin-top margin-bottom COMPLETE">
    <app-well-control></app-well-control>
  </div> -->
  
   <div class="margin-top margin-bottom">
    <app-mud-pump-config></app-mud-pump-config>
  </div>
  

<!--  <div class="margin-top margin-bottom COMPLETE">
    <app-personnel></app-personnel>
  </div>

  <div class="margin-top margin-bottom COMPLETE">
    <app-well-control-dp></app-well-control-dp>
  </div>

  <div class="margin-top margin-bottom COMPLETE">
    <app-general-remarks></app-general-remarks>
  </div> -->

</div>